body {
    min-width: 800px;
    margin: 0 auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background-color: slategrey;
}
header, aside {
    margin: 2%;
    outline: 2px solid rgb(0, 132, 255);
}
header{
    padding: 1px;
}
aside {
    float: left;
    height: 500px;
    margin: 2%;
    outline: 1px solid rgb(0, 132, 255);
    width: 20%;
}
ul{
    list-style: none;
    margin-left: 0;
    margin-top: 0.5em;
    padding-left: 0;
}
li{
    margin-top: .5em;
    padding-left: 1.6em;

}